body{
    background-color: #000000da;
}

.bg-light-dark{
    background-color: #00000023;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}